$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #F6F6F6;
body{
  padding: 0;
  margin: 0;
}
.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.toolbox{
  flex: 1;
  background-color: $divider-color;

  h1{
   background-color: $primary-color-dark;
   margin: 0;
   color: $primary-color-text;
   font-size: 1.6rem;
   text-align: center;
   padding: 0.4rem;
 }
}
.canvas{
  flex: 4;
  background-image: url(../img/repeater.jpg);
  position: relative;
}
.listItem{
  display: flex;
  flex-flow: row;
  justify-content: space-between;;
  div{
    flex-grow: 1;
    text-align: center;
    padding: 1em 0;
    width: 30%;
    margin: 16px;
    background-position: center center;
    background-color: #e5e5e5;
    border-radius: .3em;
  }
  button{
    border: none;
    background-color: inherit;
    display: block;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
  .item{
    background-color: $primary-color-light;
    box-shadow: 0px 0px 3px 0px $primary-color;
  }
  .item:hover{
    background-color: $primary-color;
  }
}
.inductor{
  background-image: url(../img/resistor.svg);
  background-repeat: no-repeat;
  flex-grow: 1;
  height: 100px;
  width: 30%;
  margin: 16px;
  background-position: center center;
  background-color: #e5e5e5;

}
.resistor{
  background-image: url(../img/inductor.svg);
  background-repeat: no-repeat;
  flex-grow: 1;
  height: 100px;
  width: 30%;
  margin: 16px;
  background-position: center center;
  background-color: #e5e5e5;
}
.canvas {
  image{
    position: absolute;
  }
  svg{
    width: 100%;
    min-height: 99vh;
  }
}
.active{
  background-color: $accent-color !important;
}
@media screen and (max-width: 480px) {
  .app {
    flex-direction: column;
    height: auto;
  }
}
